<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizkotlin">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.QuizKotlin">

<!--        <activity android:name=".ResultsActivity"/>-->
        <activity android:name=".activities.CheckResultsActivity"/>
        <activity android:name=".activities.HistoryActivity"/>
        <activity android:name=".activities.ResultsActivity"/>
        <activity android:name=".activities.AddQuiz" />
<!--        <activity android:name=".ShowQuestions" />-->
        <activity android:name=".QuestionPopup" />
        <activity android:name=".activities.AttemptQuizActivity" />
        <activity android:name=".activities.StudentHomeActivity" />
        <activity android:name=".activities.TeacherHomeActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.QuizBank" />
        <activity android:name=".activities.AddQuestion" />
        <activity android:name=".activities.SplashActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>